*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-color: rgb(166, 155, 155);
    width: 100vw;
    height: 100vh;
   overflow: hidden;
   padding: 10px 20px;
   margin: 10px 30px 30px 0;
}
.colorbox{
   
   width:100%;
   height:100%;
  
}
.box1{
    height: 70px;
    width:100%;
    background-color: brown;
   
}
.row{    
    height: 100px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
     }
.row1{
    height: 70px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}
.box2{
    width:30%;
    background-color: rgb(35, 95, 97);
    height: 70px;
   
}
.box3{
    width: 30%;
    background-color: rgb(130, 191, 25);
    height: 70px;
    
}
.box4{
    width:35%;
    background-color: rgb(13, 58, 43);
    height: 70px;
}
.row2{
    height: 70px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
   margin-right:20px ;
   margin-top: 20px;
}
.box5{
    width: 25%;
    height: 70px;
    background-color:rgb(77, 39, 113);
}
.box6{
    width: 40%;
    height: 70px;
    background-color: rgb(249, 112, 62);
}
.box7{
    width: 30%;
    height: 70px;
    background-color: rgb(19, 19, 120);
}
.row3{
    height: 70px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right:20px ;
    margin-top: 20px;
 }

.box8{
    height: 70px;
    width: 25%;
    background-color: rgb(121, 26, 4);
}
.box9{
    height: 70px;
    width: 25%;
    background-color: rgb(35, 16, 109);
}
.box10{
    height: 70px;
    width: 20%;
    background-color: rgb(212, 67, 117);
}
.box11{
    height: 70px;
    width: 25%;
    background-color: rgb(130, 191, 25);
}
.row4{
    height: 50px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-right:20px ;
   margin-top: 20px;

}
.box12{
    height: 50px;
    width: 55%;
    background-color: rgb(96, 2, 2);
}
.box13{
    height: 50px;
    width: 43%;
    background-color: rgb(1, 56, 1);
}
.row5{
    height: 70px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-right:20px ;
    margin-top: 20px;
 }

.box14{
height:70px;
width: 100%;
background-color: indianred;
}
.row6{
    height: 70px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-right:20px ;
    margin-top: 20px;
 }

.box15{
    height:70px;
width: 38%;
background-color: rgb(204, 76, 76);
}
.box16{
    height:70px;
width: 60%;
background-color:purple;
}
.row7{
    height: 50px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-right:20px ;
    margin-top: 20px;
 }
.box17{
    height: 50px;
    width: 100%;
    background-color: yellowgreen;
}