html{
    background-color: aliceblue;
}
h1{
  font-family: Lucida Sans;
}
h2{
    font-family: Georgia, 'Times New Roman',;
}
h3{
    font-family:Franklin Gothic Medium;
}
h4{
    font-family: Impact;
}