.container{
    border: 5px;
    width: 850px;
    height: 430px;
    position: relative;
    padding: auto;
    background-color: white;
    margin: auto;
}
.content1{
    width: 600px;
    height: 190px;
    border: 1px;
    padding: 10px; 
    text-align: justify;  
}
.box{
    position: absolute;
    height: 150px;
    width: 160px;
    border: 1px;
    top:6%;
    right: 6%;
}
.content2{
    width: 790px;
    height: 190px;
    border: 0 1px 1px 1px;
    padding: 10px;
    text-align:justify;
}
img{
    width: 160px;
    height: 160px;
}