body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pink-div,.blue-div{
    position: absolute;
    height: 40%;
    z-index: 1;
}

.pink-div {
    background-color: rgb(148, 53, 85);
    width: 40%;
    right: 5px;
}

.blue-div {
    background-color: rgb(18, 77, 97);
    width: 60%;
    bottom: 5px;
}

.login {
    background-color: white;
    width: 90%;
    height: 80%;
    margin: 50px;
    display: flex;
    position: absolute;
    box-shadow: 40px;
    z-index: 2;
    box-shadow: 5px 5px 15px rgb(134, 176, 199);

}

.image {
    background-image: url(stars.jpeg);
    background-size: cover;
    width: 50%;
    height: 100%;
}


.login-container {
    margin: 0 auto;
    padding: 20px;
}

h3 {
    text-decoration: underline 5px rgb(148, 53, 85);
    font-weight: bold;
    margin-bottom: 0;
}

p {
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 8px;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 20px;
}

input[type="checkbox"] {
    margin-top: 13px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.sign-in-button {
    width: 110%;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    background-color:rgb(148, 53, 85);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

a {
    color: rgb(148, 53, 85);
}

.social-media-icons {
    display: flex;
    margin-left: 25%;
}

.social-media-icons i {
    font-size: 20px;
    margin: 0 5px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.598);
}

.social-media-icons .fa-facebook {
    color: white;
    background-color: rgb(148, 53, 85);
}

.footer {
    /* border-radius: 50%; */
    margin-top: 60px;
    margin-left: 17%;
}